<!DOCTYPE html>
<html>
<head>
    <title>dryland: {{ page.title }} </title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
   </head>
<body class='{{ page.page_name }}'>
    <div id="top">
    </div>
    
    <div id="content">
    <div id="banner">
        <h1><a href="http://dryland.tk">dryland</a></h1>
        <!-- <h3>blog, ideas, photos, everything</h3> -->
        <div class='clear'></div>
<ul>
<li class='about'><a href='/about/'>About</a></li>
<li class='blog'><a href='/'>Blog</a></li>
<li class='archives'><a href='/tags/'>Archives</a></li>
<li style='float:none;' class='clear'></li>
</ul>
        <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>

    </div>
    
    <div id="page">
            <div id="main">
                {{ content }}
            </div>
            <div id="sidebar">
              <br />
<h3>Around the Web</h3>
<ul id="links">
</ul>

             
<!--
<div id="dsq-recentcomments" class="dsq-widget">
<h3 class="dsq-widget-title">Recent Comments</h3>
<script type="text/javascript" src="http://disqus.com/forums/johnduff/recent_comments_widget.js?num_items=5&avatar_size=32"></script>
</div>
<a href="http://disqus.com">Powered by Disqus</a>-->
              
            </div>
        <div id="license">
        </div>
        
    </div>
</div>


    <div id="bottom">
<a href="/about/">About</a> |
        <a href="http://blog.dryland.tk">Blog</a> |
        <a href="/tags/">Archives</a> |
    </div>
    
 
    
 </body>
</html>
